<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="POS Malaysia Test Suite">
    <listeners>
        <listener class-name="com.pos.listeners.TestListener"/>
    </listeners>
    <test name="Rate Calculator Tests">
        <classes>
            <class name="com.pos.runners.TestRunner"/>
        </classes>
    </test>
</suite>